.u-icon {
  background-image:url('https://yanxuan.nosdn.127.net/cae45612b8aae577d8bd73338e2fc02c.png');
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 34rpx;
  height: 34rpx;
}

.u-icon-new {
  background-image: url(https://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/new-5e42f2db1f.png);
  width: 68rpx;
}

.u-icon-modalClose {
  background-image: url(https://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/modalClose-9365f12572.png);
  width: 64rpx;
  height: 64rpx;
}

.u-icon-home {
  background-image: url(https://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/hd-s9f33319f5a-164b37c9ce.png);
  background-size: 172rpx 420rpx;
  width:48rpx;
  height: 44rpx;
  background-position: 0 -74rpx;
}

.u-icon-logo {
  background-image: url(https://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/hd-s9f33319f5a-164b37c9ce.png);
  background-size: 172rpx 420rpx;
  width:172rpx;
  height: 54rpx;
  background-position: 0 -128rpx;
}

.u-icon-search {
  background-image: url(https://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/hd-s9f33319f5a-164b37c9ce.png);
  background-size: 172rpx 420rpx;
  width:64rpx;
  height:64rpx;
  background-position: 0 -356rpx;
}

.u-icon-cart {
  background-image: url(https://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/hd-s9f33319f5a-164b37c9ce.png);
  background-size: 172rpx 420rpx;
  width:64rpx;
  height:64rpx;
  background-position: 0 0;
}

.u-icon-detail-kefu {
  background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/detail-kefu-aaf8414a44.png);
  width: 60rpx;
  height: 60rpx;
}