.u-icon {
  background-image:url('https://yanxuan.nosdn.127.net/cae45612b8aae577d8bd73338e2fc02c.png');
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 34rpx;
  height: 34rpx;
}

.u-icon-new {
  background-image: url(https://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/new-5e42f2db1f.png);
  width: 68rpx;
}